/* ini ccs external */
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    /* HEADER */
.main-header {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.banner {
    background: url(https://cdn.pixabay.com/photo/2017/12/16/22/22/bora-bora-3023437_1280.jpg);
    background-repeat: no-repeat;
    z-index: 2;
    background-size: cover;
    background-position: center ;
    position: relative ;
    width: 100%; 
    height: 49rem;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
        hsla(0, 2%, 38%, 0.8),
        hsla(0, 0%, 0%, 0.5));
        z-index: -1;
}

    /* LOGO */
.logo-company {
    width: 155px;
    margin-left: 15px;
    margin-top: 23px;
}

    /* BUTTON NAVIGATION */
.navbar-content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 8rem;
}
.container-navbar {
    display: flex;
    margin-top: 48px;
    margin-Right: 10px;
    font-family: sans-serif;
    list-style: none;
    flex-wrap: wrap;
    font-size: large;
}
.container-navbar li{
    margin: 0 0.75em 0 0.75em;
    text-decoration: none;
}   

.container-navbar:hover a {
    color: rgb(255, 255, 255);
}

    /* BUTTON NAVIGATION */
.navbar-button {
    text-decoration: none;
    margin-right: 15px;
    transition: 0.3s ease-in-out;
    transition-delay: .1s ; 
    text-transform: none;
    color:rgb(255, 255, 255);
    font-weight: 600;
}

.navbar-button:hover {
    border: 2px solid white;
    padding: 3px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.204);
}

    /* BUTTON NAVIGATION POINTER */
.container-navbar:hover a:hover {
    box-shadow: 0 3px 0 0 currentColor;
}


    /* BUTTON NAVIGATION LOGIN/REGISTER */
.header-button {
    font-family: sans-serif;
    margin-right: 50px;
    display: flex;
    gap: 13px;
    font-size: larger;
}



    /* CONTENT BANNER*/
.banner-content {
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    justify-content: flex-end;
    color: white;
}
.banner-content h1{
    font-size: 36px;
}
.banner-content h3{
    padding: 20px;
}

  /* BUTTON ICON BANNER */
.button-content {
    font-weight: 600;
    display: flex;
    justify-content: center; 
    margin: 0;
    overflow: auto;
    gap: 50px; 
    padding: 50px;
}

.button-content a:hover {
    background-color:rgba(106, 196, 193, 0.813);
    box-shadow: 0 8px 16px rgba(0, 0, 10, 70);
}

  
.button-content a {
    text-decoration: none;
    text-align: center;
    padding: 7px;
    border-radius: 9px;
    transition: all 0.2s ease-in-out;
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fa-plane-departure {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
    border-radius: 9px;
}

.fa-route {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
    border-radius: 9px;
}

         /* CONTENT BANNER END */


        /*  MAIN CONTENT */

.container{
    padding: 30px;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-300%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(0);
    }
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-family: sans-serif;
}
.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;

}

.slider {
    display: flex;
    border-radius: 8px;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 9%, 0.5);
}

.slider img {
    flex: 1 0 100%;
    object-fit: cover;
    animation: slide 16s infinite;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    padding: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: aliceblue;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.text-packages {
    font-family: 'poppins', sans-serif;
    padding: 40px;
    font-size: 2.5rem;
    color:darkred;
    text-align: center;
    margin-bottom: 10px;
}

.main-container {
    background-color: #e3f7f7;    
}
.container-pesawat {
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}

.text-pesawat { 
    padding: 10px;
    font-family: 'poppins', sans-serif;
    display: flex;
    font-size: 1.5rem;
}

.package-card {
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin: 30px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    width: 250px;
}
.package-card .payment-1{
    color: crimson;
}
.package-card .payment-2{
    color: crimson;
}

.package-image img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* CONTENT ATRAKSI */

.container-atraksi {
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}

.text-atraksi { 
    padding: 10px;
    font-family: 'poppins', sans-serif;
    display: flex;
    font-size: 1.4rem;
}

/* CONTACT US */

.contact{
    display: flex;
    font-family: 'poppins', sans-serif;
    width: 100%;
    background-color: rgb(236, 242, 243);
    padding: 50px;
    text-align: center;
}
.contact-info{
    font-family: 'poppins', sans-serif;
}
.container-contact{
    max-width: 800px;
    margin: auto;
}
.container-contact h2{
    text-align: left;
    font-size: 36px;
    margin-bottom: 40px;
    
}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px
}
.contact-form{
    text-align: left;
}
.contact form h3{
    font-size: 24px;
    font-family: 'poppins',sans-serif;
}
.form-group{
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: floralwhite;
}
input:focus, 
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px crimson;
}
button{
    color: white;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    background-color:rgb(10, 202, 202) ;
    border: none;
    transition: .3s ease-in-out;
    cursor: pointer;
}
button:hover{
    background-color: rgb(35, 235, 222);
}
.contact-info{
    font-family: 'poppins', sans-serif;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    background: white;
    padding: 30px;
    border-radius: 15px;

}
.contact-info h3{
    font-family: 'poppins', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}
.contact-info p{
    margin-bottom: 10px;    
}
.contact-info i{
    margin-bottom: 10px;
}