/* ini ccs external */
*,html {
    margin: 0;
    padding: 0;
}

    /* HEADER */
.main-header {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.banner {
    background: url(https://cdn.pixabay.com/photo/2017/12/16/22/22/bora-bora-3023437_1280.jpg);
    background-repeat: no-repeat;
    z-index: 2;
    background-size: cover;
    background-position: center ;
    position: relative ;
    width: 100%; 
    height: 600px;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
        hsla(0, 2%, 38%, 0.8),
        hsla(0, 0%, 0%, 0.5));
        z-index: -1;
}

    /* LOGO */
.logo-company {
    width: 155px;
    margin-left: 15px;
    margin-top: 23px;
}

    /* BUTTON NAVIGATION */
.container-navbar {
    display: flex;
    margin-top: 48px;
    margin-Right: 10px;
    font-family: sans-serif;
    list-style: none;
    flex-wrap: wrap;
}
.container-navbar li{
    margin: 0 0.75em 0 0.75em;
    text-decoration: none;
}   

.container-navbar:hover a {
    color: #E1FFBB;
}

    /* BUTTON NAVIGATION */
.navbar-button {
    text-decoration: none;
    margin-right: 15px;
    transition: 0.4s ease-in-out;
    transition-delay: .1s ; 
    text-transform: none;
    color:rgb(255, 255, 255);  
}

    /* BUTTON NAVIGATION POINTER */
.container-navbar:hover a:hover {
    box-shadow: 0 3px 0 0 currentColor;
}


    /* BUTTON NAVIGATION LOGIN/REGISTER */
.header-button {
    font-family: sans-serif;
    margin-right: 50px;
    display: flex;
    gap: 13px;
    font-size: larger;
}


    /* BUTTON NAVIGATION LOGIN/REGISTER */
.main-button {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 7px;
    transition: 0.5s ease-in-out;
    background-color: #ffffff;
}

    /* BUTTON NAVIGATION POINTER */
.main-button:hover {
    background-color: #b0b0b0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
}

    /* CONTENT BANNER*/
.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    justify-content: flex-end;
    color: white;
}
.banner-content h1{
    font-size: 40px;
}
.banner-content h3{
    padding: 20px;
}

  /* BUTTON ICON BANNER */
.button-content {
    display: flex;
    justify-content: center; 
    margin: 0;
    overflow: auto;
    gap: 50px; 
    padding: 50px;
}

.button-content a:hover {
    background-color:rgba(106, 196, 193, 0.813);
    box-shadow: 0 8px 16px rgba(0, 0, 10, 70);
}

  
.button-content a {
    text-decoration: none;
    text-align: center;
    padding: 7px;
    border-radius: 9px;
    transition: all 0.5s ease-in-out;
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fa-plane-departure {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
    border-radius: 9px;
}

.fa-car-side {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
    border-radius: 9px;
}

.fa-train-subway {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
    border-radius: 9px;
}

.fa-bus {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
    border-radius: 9px;
}
         /* CONTENT BANNER END */


        /*  MAIN CONTENT */
#package-section {
    display: flex;
    width: 100%;
    height: 300px;
    border: 1px solid;
    justify-content: left;
    align-items: center;
    padding: 50px;
    background-color: lavender;
}

.text-package {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}