/* ini ccs external */
*,html {
    margin: 0;
    padding: 0;
}

    /* HEADER */
.main-header {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.banner {
    background: url(https://cdn.pixabay.com/photo/2017/12/16/22/22/bora-bora-3023437_1280.jpg);
    background-repeat: no-repeat;
    z-index: 2;
    background-size: cover;
    background-position: center ;
    position: fixed;
    width: 100%; 
    height: 80%;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
        hsla(0, 1%, 34%, 0.8),
        hsla(0, 3%, 20%, 0.4));
        z-index: -1;
}

    /* LOGO */
.logo-company {
    width: 155px;
    margin-left: 15px;
    margin-top: 23px;
}

    /* BUTTON NAVIGATION */
.container-navbar {
    display: flex;
    margin-top: 48px;
    margin-Right: 10px;
    font-family: sans-serif;
    list-style: none;
    flex-wrap: wrap;
}
.container-navbar li{
    margin: 0 0.75em 0 0.75em;
    text-decoration: none;
}   

.container-navbar:hover a {
    color: #96d2ff;
}

    /* BUTTON NAVIGATION */
.navbar-button {
    text-decoration: none;
    margin-right: 15px;
    transition: 0.4s ease-in-out;
    transition-delay: .1s ; 
    text-transform: none;
    color:rgb(255, 255, 255);  
}

    /* BUTTON NAVIGATION POINTER */
.container-navbar:hover a:hover {
    box-shadow: 0 3px 0 0 currentColor;
}


    /* BUTTON NAVIGATION LOGIN/REGISTER */
.header-button {
    font-family: system-ui;
    margin-right: 50px;
    display: flex;
    gap: 13px;
    font-size: larger;
}

    /* BUTTON NAVIGATION LOGIN/REGISTER */
.main-button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid;
    padding: 10px;
    border-radius: 7px;
    transition: 0.5s;
}

    /* BUTTON NAVIGATION POINTER */
.main-button:hover {
    background-color:rgb(73, 230, 255);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

    /* CONTENT BANNER*/
.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    justify-content: flex-end;
    color: white;
}

.banner-content h1{
    font-size: 40px;
}

.banner-content h4{
    padding: 20px;
}